@using OnlineCoursePlatform.App.ViewModels.User
@model UserDetailsResponse;

<div class="account-container">
    <div class="account-header">
        <h2>Welcome, @Model.UserName</h2>
        <p>Manage your profile and courses easily.</p>
    </div>

    <div class="account-details">
        <div class="profile-section">
            <img src="/lib/img/profile.jpg" alt="Profile Picture" class="profile-image">
            <div class="user-info">
                <p>Email: @Model.Email</p>
            </div>
            <button class="btn-edit">Edit Profile</button>
        </div>

        <div class="courses-section">
            <h3>Purchased courses</h3>
            <div class="course-list">
                @foreach (var enrollments in Model.Enrollments)
                {
                    <div class="course-item">
                        <h4>Progress: @enrollments.Progress</h4>
                        @enrollments.Course.Title
                        @enrollments.Course.Level
                    </div>
                }
            </div>
        </div>
    </div>
</div>
