@using OnlineCoursePlatform.App.ViewModels.User
@model UserDetailsResponse;

<div class="courses-section">
    <h3>Purchased courses</h3>

    <a asp-controller="TeacherApplication" asp-action="userList" class="btn-edit">Teacher application list</a>

    @if (Model.TeacherApplications.Count == 0)
    {
        <button type="button" class="btn-edit" onclick="openApplicationModal()">Teacher application</button>
    }

    <div class="course-list">
        @foreach (var enrollments in Model.Enrollments)
        {
            <div class="course-item">
                <h4>Course: @enrollments.Course.Title</h4>
                <p class="course-description">Description: @enrollments.Course.Description</p>
                <p class="course-description">Level: @enrollments.Course.Level.Name</p>
                <p class="course-description">Category: @enrollments.Course.Category.Name</p>
                <p class="course-description">Progress: @enrollments.Progress</p>

                <div class="course-actions">
                    <a asp-controller="Lesson" asp-action="CourseOverview" asp-route-courseId="@enrollments.Course.Id" class="btn-lessons">Lessons</a>
                </div>
            </div>
        }
    </div>
</div>

<div id="createApplicationModal" class="custom-modal">
    <div class="custom-modal-content">
        <h2>Send application</h2>
        <p class="application-label">Please provide a bio:</p>
        <textarea id="bio" class="modal-textarea"></textarea>
        <p class="application-label">Please provide an experience:</p>
        <textarea id="experience" class="modal-textarea"></textarea>
        <div class="modal-actions">
            <button class="btn-lessons btn-danger" onclick="closeApplicationModal()">Close</button>
            <button class="btn-lessons" id="createApplciation">Send application</button>
        </div>
    </div>
</div>

<script src="~/js/teacherApplication/createTeacherApplication.js"></script>
<script src="~/js/teacherApplication/cancelTeacherApplication.js"></script>