@using OnlineCoursePlatform.App.ViewModels.Authenticate;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userId = User.FindFirst("uid")?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index">
            <h2 class="logo">Logo</h2>
        </a>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">Categories</a>
            <a asp-controller="Course" asp-action="CoursesList">Courses</a>
            <a href="#">About</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="account" asp-action="overview" asp-route-userId="@userId">Account</a>
            }
            else{
                <button class="btnLogin-popup">Login</button>
            }
        </nav>
    </header>

    <partial name="_AuthenticationPartial" model="new AuthenticationViewModel()"/>

    @RenderBody()
    @RenderSection("Scripts", required: false)

    <script src="@Url.Content("~/js/script.js")"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>