@using OnlineCoursePlatform.App.ViewModels.Request
@using OnlineCoursePlatform.App.ViewModels.TeacherApplication
@model TeacherApplicationListViewModel

<div class="course-card">
    <h3 class="title">Course:<a asp-controller="course" asp-action="details" asp-route-id="@Model.CourseId" class="btn-submit btn-view-details">View details</a></h3>

    <div class="category-section">
        <span class="category">Requested By: @Model.RequestedName</span>
        <span class="category">Date: @Model.RequestedDate.ToShortDateString()</span>
    </div>

    @if (Model.Status == RequestStatus.Approved)
    {
        <p class="author">Approved By: @Model.ProcessedName (@Model.ProcessedAt.ToShortDateString())</p>
    }
    else if (Model.Status == RequestStatus.Rejected)
    {
        <p class="author">Rejected By: @Model.ProcessedName (@Model.ProcessedAt.ToShortDateString())</p>
        <p class="author">Rejected reason: @Model.RejectReason</p>
    }
    else if (Model.Status == RequestStatus.Canceled)
    {
        <p class="author">canceled by the user himself</p>
    }
    else
    {
        <p class="author">Status: @Model.Status</p>
        <button type="button" class="btn-view-details" onclick="openBioModal()">View bio</button>

        <div class="course-request-actions">
            <button type="submit" class="btn-lessons" onclick="approveCourse('@Model.Id')">Approve</button>
            <button type="button" class="btn-lessons btn-danger" onclick="openRejectModal('@Model.Id')">Reject</button>
        </div>

    }
</div>

<div id="bioModal" class="custom-modal">
    <div class="custom-modal-content">

        <h2>Bio:</h2>
        <p>@Model.Bio</p>

        <h2>Experience:</h2>
        <p>@Model.Experience</p>

        <div class="modal-actions">
            <button class="btn-lessons" onclick="closeBioModal()">Close</button>
        </div>
    </div>
</div>