@using OnlineCoursePlatform.App.ViewModels.User
@model UserDetailsResponse;

<div class="account-container">
    <div class="account-header">
        <h2>Welcome, @Model.UserName</h2>
        <p>Manage your profile and courses easily.</p>
    </div>

    <div class="account-details">
        <div class="profile-section">
            <img src="/lib/img/profile.jpg" alt="Profile Picture" class="profile-image">
            <div class="user-info">
                <p>Email: @Model.Email</p>
            </div>
            <button class="btn-edit">Edit Profile</button>
        </div>

        <div class="courses-section">
            <div class="courses-section-header">
                <h3>Your Courses</h3>
                <a asp-controller="CoursePublishRequest" asp-action="UserList" class="btn-edit">Course publish requests</a>
            </div>
            @if (Model.Courses != null)
            {
                <div class="course-list">
                    @foreach (var course in Model.Courses)
                    {
                        <div class="course-item">
                            <h4>@course.Title</h4>
                            <p class="course-description">@course.Description</p>
                            <p class="course-description">Level: @course.Level.Name</p>
                            <p class="course-description">Category: @course.Category.Name</p>
                            <p class="course-description">Price: @course.Price</p>
                            <p class="course-description">
                                Published: <span class="badge @(course.IsPublished ? "badge-yes" : "badge-no")">
                                    @(course.IsPublished ? "Yes" : "No")
                                </span>
                            </p>




                            <div class="course-actions">
                                <a asp-controller="Lesson" asp-action="CourseOverview" asp-route-courseId="@course.Id" class="btn-lessons">Lessons</a>
                                <a asp-controller="Course" asp-action="Update" asp-route-id="@course.Id" class="btn-edit">Edit</a>
                                <a class="btn-delete" onclick="deleteCourse('@course.Id')">Delete</a>
                            </div>

                        </div>
                    }
                    <a asp-controller="Course" asp-action="Create" class="btn-add-course">Create New Course</a>
                </div>
            }
            else
            {
                <h2>You haven’t created any courses yet.</h2>
                <a asp-controller="Course" asp-action="Create" class="btn-add-course">Create New Course</a>
            }
        </div>
    </div>
</div>

<script src="~/js/course/deleteCourse.js"></script>