@using OnlineCoursePlatform.App.ViewModels.Test
@model LessonTestsViewModel

@if (Model.Tests.Count != 0)
{
    <div class="lessons-section">
        <h2>Tests</h2>
        <div class="lessons-list">
            @foreach (var test in Model.Tests)
            {
                <div class="lesson-item">
                    <span>@test.Title</span>

                    <div class="lesson-actions">
                        @*TODO: find answer why IsInRole doesn't work *@
                        @if (User.FindFirst("roles").Value == "Teacher")
                        {
                            <a asp-controller="test" asp-action="update" asp-route-id="@test.Id" class="btn-edit">Edit</a>
                            <a class="btn-delete" onclick="deleteTest('@test.Id')">Delete</a>
                        }
                        @* <a asp-controller="Lesson" asp-action="details" asp-route-id="@lesson.Id" class="btn-view-lesson">View lesson</a> *@
                        <a asp-controller="testAttempt" asp-action="StartTest" asp-route-id="@test.Id" class="btn-pass">Pass</a>
                    </div>
                </div>
            }
        </div>
        @if (User.FindFirst("roles").Value == "Teacher")
        {
            <a asp-controller="Test" asp-action="Create" asp-route-lessonId="@Model.LessonId" class="btn-add">Add test</a>
        }
    </div>
}
else
{
    <div class="lessons-section">
        <h2>No test available</h2>
        @if (User.FindFirst("roles").Value == "Teacher")
        {
            <a asp-controller="Test" asp-action="Create" asp-route-lessonId="@Model.LessonId" class="btn-add">Add test</a>
        }
    </div>
}

<script src="~/js/test/deleteTest.js"></script>