@using OnlineCoursePlatform.App.ViewModels.Test
@model TestViewModel

@{
    var message = TempData["Message"] as string;
}

<form id="updateTestForm" class="test-form">
    <h2>Update Test</h2>

    <h1 class="error-text">@message</h1>

    <div class="form-group">
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="error-text"></span>
        <input asp-for="Title" />

    </div>

    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="LessonId" value="@Model.LessonId" />

    <div id="questions">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div class="question" data-index="@i">
                <div class="question-header">
                    <input type="text" name="Questions[@i].Text" value="@Model.Questions[i].Text" placeholder="Question Text" />
                    <span onclick="toggleQuestion(@i)"><ion-icon name="caret-down-outline"></ion-icon></span>
                </div>
                <div class="answers">
                    @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
                    {
                        <div class="answer">
                            <input type="checkbox" name="Questions[@i].Answers[@j].IsCorrect" value="true" @(Model.Questions[i].Answers[j].IsCorrect ? "checked" : "") />
                            <input type="text" name="Questions[@i].Answers[@j].Text" value="@Model.Questions[i].Answers[j].Text" placeholder="Answer Option" />
                        </div>
                    }
                    <button type="button" class="btn" onclick="addAnswer(@i, this)">+ Add Answer</button>
                    <button type="button" class="btn btn-danger" onclick="removeQuestion(this)">Delete Question</button>
                </div>
            </div>
        }
    </div>

    <button type="button" class="btn" onclick="addQuestion()">+ Add Question</button>

    <button type="button" class="btn" onclick="updateTest()">Save Changes</button>
</form>

<script src="~/js/test/createTestMenu.js"></script>
<script src="~/js/test/updateTest.js"></script>