@using OnlineCoursePlatform.App.ViewModels.Lesson
@model CourseLessonsViewModel

@if (Model.Lessons.Count != 0)
{
    <div class="lessons-section">
        <h2>Lessons</h2>
        <div class="lessons-list">
            @foreach (var lesson in Model.Lessons)
            {
                <div class="lesson-item">
                    <span>@lesson.Order. @lesson.Title</span>

                    <div class="lesson-actions">
                        <a asp-controller="Lesson" asp-action="details" asp-route-id="@lesson.Id" class="btn-edit">View lesson</a>
                        <a asp-controller="Lesson" asp-action="update" asp-route-id="@lesson.Id" class="btn-edit">Edit</a>
                        <a class="btn-delete" onclick="deleteLesson('@lesson.Id')">Delete</a>
                    </div>
                </div>
            }
        </div>
        <a asp-controller="lesson" asp-action="add" asp-route-courseId="@Model.CourseId" class="btn-add">Add lesson</a>
    </div>
}
else
{
    <div class="lessons-section">
        <h2>No lessons available</h2>
        <a asp-controller="lesson" asp-action="add" asp-route-courseId="@Model.CourseId" class="btn-add">Add lesson</a>
    </div>
}


<script>
    function deleteLesson(lessonId) {
        $.ajax({
            url: '@Url.Action("Delete", "Lesson")/' + lessonId,
            type: 'DELETE',
            dataType: 'json',
            success: function (response) {
                window.location.href = response.redirectUrl;
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                alert('Error');
            }
        });
    }
</script>
