@using OnlineCoursePlatform.App.ViewModels.Lesson
@model LessonViewModel

@{
    var message = TempData["Message"] as string;
}

<div class="form-container">
    <h2>Update lesson</h2>

    <h1 class="error-text">@message</h1>

    <div asp-validation-summary="All" class="error-text"></div>

    <div class="input-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" value="@Model.Title" />
        <span asp-validation-for="Title" class="error-text"></span>
    </div>

    <div class="input-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="4" cols="50" value="@Model.Description"></textarea>
        <span asp-validation-for="Description" class="error-text"></span>
    </div>

    <div class="input-group">
        <label asp-for="Order"></label>
        <input asp-for="Order" value="@Model.Order" />
        <span asp-validation-for="Order" class="error-text"></span>
    </div>

    <button type="submit" class="btn-submit" onclick="updateLesson('@Model.Id')">Update Course</button>
</div>

@section Scripts {
    <script>
        function updateLesson(lessonId) {
            var formData = {
                Id: lessonId,
                Title: $('#Title').val(),
                Description: $('#Description').val(),
                Order: $('#Order').val(),
                CourseId: '@Model.CourseId'
            };

            $.ajax({
                url: '@Url.Action("Update", "Lesson")',
                type: 'PUT',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                        success: function (response) {
                    if (response.redirectToUrl) {
                        window.location.href = response.redirectToUrl;
                    }
                    else{
                         for (var key in response.errors) {
                            var errorMessage = response.errors[key];
                            $('#' + key).next('.error-text').text(errorMessage);
                        }
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    </script>
}