@using OnlineCoursePlatform.App.ViewModels.Lesson
@model LessonViewModel

@{
    var message = TempData["Message"] as string;
}

<form id="updateLessonForm" class="form-container">
    <h2>Update lesson</h2>

    <h1 class="error-text">@message</h1>

    <div asp-validation-summary="All" class="error-text"></div>

    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="CourseId" value="@Model.CourseId" />


    <div class="input-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" value="@Model.Title" />
        <span asp-validation-for="Title" class="error-text"></span>
    </div>

    <div class="input-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="4" cols="50" value="@Model.Description"></textarea>
        <span asp-validation-for="Description" class="error-text"></span>
    </div>

    <div class="input-group">
        <label asp-for="Order"></label>
        <input asp-for="Order" value="@Model.Order" />
        <span asp-validation-for="Order" class="error-text"></span>
    </div>

    <button type="button" class="btn-submit" onclick="updateLesson()">Update Course</button>
</form>

@section Scripts {
    <script>
        function updateLesson() {
            const form = document.getElementById('updateLessonForm');
            const formData = new FormData(form);

            $.ajax({
                url: '@Url.Action("Update", "Lesson")',
                type: 'PUT',
                data: formData,
                processData: false,
                contentType: false,
                        success: function (response) {
                    if (response.redirectToUrl) {
                        window.location.href = response.redirectToUrl;
                    }
                    else{
                         for (var key in response.errors) {
                            var errorMessage = response.errors[key];
                            $('#' + key).next('.error-text').text(errorMessage);
                        }
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    </script>
}