@using OnlineCoursePlatform.App.ViewModels.CoursePublishRequest
@model List<CoursePublishRequestListViewModel>

<div class="category-list-container">
    <h2>Course Publish Requests</h2>
    <p>Here you can approve or reject requests to publish courses.</p>

    <div class="course-request-container">
        @if (Model != null && Model.Any())
        {
            foreach (var request in Model)
            {
                <div class="course-card">
                    <h3 class="title"> Course:<a asp-controller="course" asp-action="details" asp-route-id="@request.CourseId" class="btn-submit btn-view-details">View details</a></h3>

                    <div class="category-section">
                        <span class="category">Requested By: @request.RequestedName</span>
                        <span class="category">Date: @request.RequestedDate.ToShortDateString()</span>
                    </div>

                    @if (request.Status == CoursePublishStatus.Approved)
                    {
                        <p class="author">Approved By: @request.ApprovedName (@request.ApprovedAt.ToShortDateString())</p>
                    }
                    else
                    {
                        <p class="author">Status: @request.Status</p>

                        <div class="course-request-actions">
                            <form asp-action="Approve" asp-controller="CoursePublishRequest" method="post">
                                <input type="hidden" name="Id" value="@request.Id" />
                                <button type="submit" class="btn-lessons">Approve</button>
                            </form>

                            <form asp-action="Reject" asp-controller="CoursePublishRequest" method="post">
                                <input type="hidden" name="Id" value="@request.Id" />
                                <button type="submit" class="btn-lessons btn-danger">Reject</button>
                            </form>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <p>No requests pending.</p>
        }
    </div>
</div>